---
// Prose Component for Tailwind Typography
// Based on Astro's official documentation for styling rendered Markdown
---

<div
  class='prose prose-content dark:prose-invert prose-h1:font-extrabold prose-h2:font-extrabold prose-h3:font-extrabold max-w-none'
>
  <slot />
</div>
